.radio-option {
    cursor: pointer;
    margin-bottom: 8px;
    color: var(--primaryBlue);
    border-radius: 8px;
    font-size: .9rem;
    font-family: "Raleway", sans-serif;
    align-items: center;
    justify-content: center;
}

.radio-option input[type="radio"] {
    display: none;
}

.radio-option input[type="radio"] + span {
    margin-right: 10px;
    
}

.radio-option input[type="radio"] + span::before {
    content: '';
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 1px solid var(--primaryBlue);
    margin-right: 8px; /* Adjusted margin-right for space between dot and label */
}

.radio-option.selected input[type="radio"] + span::before {
    background-color: var(--primaryBlue);

    
}