.radio-option{
    list-style-type: none;
}
 
.radio-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
  }

.radio-option label {
    display: inline-flex;
    align-items: center;
    
  }

  .radio-option  label::before {
    content: '';
    display: block;
    height: .9rem;
    width: .9rem;
    border: solid 1px #ccc;
    border-radius: 50%;
    margin-right: 0.5em;
    transition: border ease-in 150ms, box-shadow ease-in 150ms;
  }

  .radio-option input[type="radio"]:checked + label {
    color: black;
  }

  .radio-option input[type="radio"]:checked + label::before {
    background: radial-gradient(0.70rem circle at center, currentColor 50%, transparent 55%);
 
    border-color: var(--primaryBlue)
  }

  .radio-option input[type="radio"]:checked + label,
input[type="radio"]:focus + label {
  color: var(--primaryBlue)
}

.radio-option input[type="radio"]:focus + label::before {
 
  border-color: currentColor;
}
