.document-upload h1 {
    position: relative;
    display: inline-block;
    color: var(--primaryBlue);
    margin-bottom: 0;
}
.document-upload{ 
    height: 100%; 
}
.document-upload-form {
    padding:1.5rem 2rem ;
    overflow-y: auto;
    height:calc(100% - 9rem);
}

.form-content-top {
    display: flex;
    max-width: 100%;
    flex-direction: row; 
    gap: 3rem; 
  
}


.form-section-top-left {
    flex: 60%;
    display: flex;
    flex-direction: column; 
}

.form-section-top-right {
    flex: 40%;
}

.form-section-bottom {

    width: "100%";
    display: "flex";
    justify-content: "center";
    align-items: center;
    padding-top: "20px";
}
.form-section-bottom .buttons-wrapper {
   padding-top: 1rem;
}

@media only screen and (max-width: 960px) {
    .form-content-top {
      flex-direction: column;
      
    }
  
    .form-section-top-left,
    .form-section-top-right {
      flex: none; 
      width: 100%; 
      justify-content: center;
      
    }
  }