/* Base button styles */
.button {
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    padding: 0.7rem 3.5rem;
    margin: 0 5px;
    font-size: .9rem;
    border-radius: 8px;
    border: 1px solid transparent; /* Default border */
    width:240px
  }
  
  /* Primary button specific styles */
  .primary-button {
    background-color:var(--primaryBlue);
    color: white;
    border-color:var(--primaryBlue);
  }
  
  /* Outlined button specific styles */
  .outlined-button {
    background-color: transparent; /* Ensure background is transparent */
    color:var(--accentColor); /* Accent color */
    border-color: var(--accentColor);
  }