/* Base button styles */
.button {
    font-family: "ABeeZee", sans-serif;
    cursor: pointer;
    padding: 0.8rem 4rem;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid transparent; /* Default border */
  }
  
  /* Primary button specific styles */
  .primary-button {
    background-color: #1C3E6E;
    color: white;
    border-color: #1C3E6E;
  }
  
  /* Outlined button specific styles */
  .outlined-button {
    background-color: transparent; /* Ensure background is transparent */
    color: #ECE2C7;
    border-color: #ECE2C7;
  }