.App {

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #B3B3B3;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}